#about.ui.info.message
  i.close.icon
  .header ¿Cómo funciona este test?
  p Los candidatos están organizados de acuerdo a la afinidad, de mayor → menor, que existe entre tus respuestas y el contenido textual de sus propuestas.
  p
    i.check.icon
    | Candidato apoya esta respuesta.
  p
    i.minus.icon
    | Candidato no ha expresado una opinión de acuerdo a esta respuesta.
  p
    i.close.icon
    | Candidato está opuesto a esta respuesta.
