extends layout

block styles
  link(
    rel='stylesheet'
    type='text/css'
    href='/css/styles.css'
  )

block content
  #disclaimer
    h1 Test de Afinidad - Disclaimer
    p Global Shapers Community – Santo Domingo Hub (GSSD) es una iniciativa apartidista que busca fomentar la participación y cambios en la comunidad mediante diversas actividades y proyectos. “Mi derecho, mi voto” se realiza con la finalidad de educar a la población sobre la importancia del voto consciente.
    p Mediante el presente Test de Afinidad solo se pretende demostrar la compatibilidad que tienen tus ideas y creencias con las informaciones extraídas de los Planes de Gobierno publicados por cada uno de los candidatos y candidatas a la presidencia de la República Dominicana.
    p Por lo tanto, GSSD reconoce que es un derecho y un deber de todos los dominicanos y dominicanas el ejercicio del sufragio para elegir a las autoridades de gobierno.
    p Asimismo, reconoce que el voto es personal, libre, directo y secreto por lo que nadie puede ser obligado o coaccionado, bajo ningún pretexto, en el ejercicio de su derecho al sufragio ni a revelar su voto.
    p El presente Test de Afinidad es una herramienta de referencia y bajo ningún contexto puede ser considerada como una interferencia o sugerencia al ejercicio del sufragio.
    p No hacemos representaciones ni garantías de ningún tipo, expresas o implícitas, sobre la integridad, exactitud, fiabilidad, idoneidad o disponibilidad con respecto a las informaciones aquí plasmadas.