.ui.container.center.aligned
  h2#share-title
    span.highlight-coral Comparte
    |  tus resultados
  .ui.container
    .ui.fluid.action.input
      input#linkInput(type="text" readonly)
      button#copyButton.ui.right.labeled.icon.button
        i.copy.icon
        | Copiar enlace
  #share-buttons.ui.container
    button#facebookButton.massive.ui.circular.facebook.icon.button(href="google.com")
      i.facebook.icon
    button#twitterButton.massive.ui.circular.twitter.icon.button
      i.twitter.icon
    button#emailButton.massive.ui.circular.icon.button
      i.envelope.icon